---
import ReadCaseStudy from "./ReadCaseStudy.astro";
---

<section class="mt-8 max-md:max-w-full font-nohemi">

    <div class="grid gap-3 grid-cols-1 lg:grid-cols-[_36%_64%]">

      <div class="justify-between items-stretch bg-gray-900 flex grow flex-col w-full px-6 py-12 rounded-[36px] max-md:max-w-full max-md:mt-7 max-md:px-5">
        <h1 class="text-orange-50 text-2xl lg:text-4xl font-semibold max-md:max-w-full"> 
          Belleful - <span class=" text-orange-50 font-normal"> A Food Delivery Application Experience </span> 
        </h1>

        <p class="text-indigo-200 text-[15px] lg:text-2xl md:text-xl font-light mt-6 max-md:max-w-full"> 
          <span class="font-semibold text-indigo-200">Belleful</span> is a meal ordering and delivery 
          service that allows you to place an immediate order from the convenience of your phone and 
          have your food prepared as soon as you ask. My objective was to create a mobile app that would 
          enable consumers to quickly and simply order meals from Belleful. 
        </p>

        <ReadCaseStudy href="/works/belleful"/>
      </div>

      <img
        src="/image-5.svg"
        class="w-full h-full object-contain"
      />

    </div>


</section>