---
import ReadCaseStudy from "./ReadCaseStudy.astro";
---

<section class="mt-8 max-md:max-w-full font-nohemi">

    <div class="grid gap-3 grid-cols-1 lg:grid-cols-[_36%_64%]">

      <div class="justify-between items-stretch bg-gray-900 flex grow flex-col w-full px-6 py-12 rounded-[36px] max-md:max-w-full max-md:mt-7 max-md:px-5">
        <h1 class="text-orange-50 text-2xl lg:text-4xl font-semibold max-md:max-w-full"> 
          Belleful - <span class=" text-orange-50 font-normal"> A Food Delivery Application Experience </span> 
        </h1>

        <p class="text-indigo-200 text-[15px] lg:text-2xl md:text-xl font-light mt-6 max-md:max-w-full"> 
          <span class="font-semibold text-indigo-200">Belleful</span> is a meal ordering and delivery 
          service that allows you to place an immediate order from the convenience of your phone and 
          have your food prepared as soon as you ask. My objective was to create a mobile app that would 
          enable consumers to quickly and simply order meals from Belleful. 
        </p>

        <ReadCaseStudy href="/case-study/belleful"/>
      </div>

      <div class="items-stretch bg-orange-50 flex grow flex-col w-full p-6 rounded-[60px] max-md:max-w-full max-md:mt-7 max-md:px-3">
        
        <!-- First Row -->
        <div class="gap-5 grid grid-cols-1 lg:grid-cols-[_1fr_2fr]">

          <div class="flex flex-col items-stretch bg-lime-400 relative overflow-hidden w-full p-5 pt-7 rounded-3xl max-md:mt-5 max-md:pb-10 max-md:px-5 max-md:w-full max-md:ml-0">
            <h3 class="text-blue-950 text-2xl font-semibold text-center">
              Food Ordering App
            </h3>

            <img
              src="/iPhone-13-Pro-Front.svg"
              class="absolute bottom-0 right-0 object-contain"
            />
          </div>

          <div class="w-full grid gap-5 grid-rows-2">

            <div class="flex grow flex-col items-stretch w-full">
              <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/de893fa0637d28e8d78031322d1de2a09f7cb86d59b253e8c6ab92babe7bd0d2?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"class="aspect-[2.14] object-contain object-center w-full overflow-hidden max-md:max-w-full"
              />
            </div>

            <div class="gap-5 grid grid-cols-2 w-full">
              <div class="justify-center items-center bg-amber-300 flex grow flex-col w-full pl-10 pr-12 py-12 rounded-3xl max-md:mt-6 max-md:px-5">
                <img
                  loading="lazy"
                  srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/225dc3db07afa4c4bac09d78a51628e2efd03b6a6850cbbe91295811a74109ae?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"class="aspect-[3.49] object-contain object-center w-[150px] overflow-hidden my-5"
                />
              </div>

              <div class="justify-center items-stretch bg-blue-500 flex flex-col w-full px-5 py-4 rounded-3xl max-md:mt-6 max-md:pl-5">
                <h4 class="text-gray-900 text-center text-2xl font-semibold"> Eat what makes you </h4>
                <img
                  loading="lazy"
                  srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3b4b5382090d673a55265add111de6920a14c17a6c7bfefeffa879355b402869?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
                  class="aspect-[1.87] object-contain object-center w-[153px] overflow-hidden self-center max-w-full mt-2"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Second Row -->
        <div class="w-full mt-3 gap-3 grid grid-cols-[_2fr_1fr]">
          <div class="flex flex-col items-stretch w-full max-md:w-full">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/6075c1b22db79f090c7a7064941b0b681542ccb78245f12a48e969a93ff7570d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
              class="object-contain object-center w-full h-full overflow-hidden grow"
            />
          </div>

          <div class="flex flex-col items-stretch w-full max-md:w-full">
            <img
              loading="lazy"
              srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c7ee5893aea5d07e03c52f1033005783e4966296cba1e2758ff80c466c103940?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
              class="aspect-[0.99] object-contain object-center w-full overflow-hidden grow max-md:mt-6"
            />
          </div>
        </div>
      </div>

    </div>


</section>