---
import Socials from "./Socials.astro";
---

<section class="bg-gray-900 font-nohemi grid grid-cols-1 lg:grid-cols-2 max-md:gap-6 mt-16 px-14 py-12 rounded-[37px] max-md:max-w-full max-md:mt-10 max-md:px-5">

  <div class="w-full h-full flex flex-col gap-3 max-sm:gap-5 lg:gap-8 justify-center items-start pr-10">
    <h1 class="text-white text-6xl font-semibold leading-[64px] tracking-tighter max-md:max-w-full max-md:text-4xl">
      Let's Connect!
    </h1>
    
    <div class="text-indigo-200 text-3xl font-medium leading-8 tracking-tighter underline max-md:max-w-full">
      <span class="text-indigo-200">
        Have a project or opportunity in mind? Let's have a nice chat over it.{' '}
      </span>
      <a
        href="https://dammydevs.netlify.app/#"
        class="underline text-indigo-200"
        target="_blank"
        rel="noopener noreferrer"
      >
        Contact me
      </a>
      <span class="text-indigo-200"> here or email me at</span>
    </div>

    <Socials color="purple"/>
  </div>


  <form method="POST" action="https://formsubmit.co/fortunealebiosu710@gmail.com" class="w-full bg-gray-950 rounded-[32px] flex flex-col gap-3 p-4 lg:p-8 text-white">

    <input 
      type="text" 
      id="name" 
      name="name"
      aria-label="Name" 
      class="rounded-xl p-5 h-20 w-full bg-transparent" 
      placeholder="Name"
    />

    <input 
      type="email" 
      id="email" 
      name="email"
      aria-label="Email" 
      class="rounded-xl p-5 h-20 w-full bg-transparent" 
      placeholder="Email"
    />     

    <textarea
      id="message" 
      name="message"
      aria-label="Message" 
      class="rounded-xl p-5 w-full h-40 bg-transparent" 
      placeholder="Type a message..."
    />

    <button class="text-white bg-gradient-to-l from-purple to-indigo-700 text-xl font-semibold leading-6 tracking-normal whitespace-nowrap justify-center items-stretch mt-6 px-10 py-4 rounded-2xl self-start max-md:px-5">
      Get in Touch
    </button>
  </form>    

</section>