---
import Socials from "./Socials.astro";
---

<footer class="bg-gray-950 my-10 px-20 py-10 rounded-[37.5px] max-md:max-w-full max-md:mr-2.5 max-md:mt-10 max-md:px-5">
  <div class="gap-5 flex max-md:flex-col max-md:items-start items-center justify-between max-md:gap-10">
    
      <div class="flex flex-col items-stretch w-[24%] max-md:w-full max-md:ml-0">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e4b6b8b777b0cc5965fd37a4be1150b6013199ea34d938a5319f3e7a9e37c5f?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
          class="aspect-[5.61] object-contain object-center w-[157px] overflow-hidden shrink-0 max-w-full my-auto max-md:mt-10"
          alt="DammyDev"
        />
      </div>

      <nav class="items-stretch font-nohemi font-medium flex justify-between gap-5 my-auto max-md:max-w-full max-md:flex-wrap">
          <a href="#" class="text-stone-300 max-md:text-lg text-2xl font-medium">
              Home.
          </a>
          <a href="#" class="text-red max-md:text-lg text-2xl">
              About.
          </a>
          <a href="#" class="text-stone-300 max-md:text-lg text-2xl">
              Works.
          </a>
          <a href="#" class="text-white max-md:text-lg text-2xl whitespace-nowrap">
            Let&apos;s Talk
          </a>
      </nav>

      <Socials/>
  </div>
</footer>