



<header
    class="justify-between items-center bg-gray-900 flex gap-5 px-8 py-5 rounded-[36px] max-md:max-w-full max-md:flex-wrap max-md:mr-2.5 max-md:px-5"
    aria-label="Header"
    role="banner"
>
    <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5e4b6b8b777b0cc5965fd37a4be1150b6013199ea34d938a5319f3e7a9e37c5f?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
        class="aspect-[5.61] object-contain object-center w-[157px] overflow-hidden shrink-0 max-w-full my-auto"
        alt="Logo"
    />
    <nav
        class="items-start self-stretch flex justify-between gap-5 max-md:max-w-full max-md:flex-wrap"
        aria-label="Navigation"
        role="navigation"
    >
    <a href="/" class="text-red-600 text-2xl font-medium self-center my-auto">
        Home.
    </a>
    <a href="/about" class="text-stone-300 text-2xl self-center my-auto">
        About.
    </a>
    <a href="/works" class="text-stone-300 text-2xl self-center my-auto">
        Works.
    </a>
    <button class="text-white text-2xl whitespace-nowrap justify-center items-stretch bg-red-600 self-stretch grow px-9 py-5 rounded-2xl max-md:px-5">
        Let's Talk
    </button>
    </nav>
</header>