---
  //"<h1 class="relative text-stone-50 text-opacity-40 text-center text-3xl font-bold self-center whitespace-nowrap">Photoshop</h1>"
  import Socials from "../components/Socials.astro";

  import { Image } from 'astro:assets';
  import MobileBackground from '@/assets/hero/mobile-background.svg';
  import DesktopBackground from '@/assets/hero/desktop-background.svg';
---


<section class="bg-neutral-500 relative max-md:h-[90svh] h-[120svh] flex flex-col justify-center items-stretch mt-14 rounded-[36px] max-md:max-w-full max-md:mt-10">
  <!-- Put Background Image Here -->
  <Image 
    loading="eager" 
    alt="Desktop Background"
    src={DesktopBackground}
    class="absolute h-full w-full max-md:hidden rounded-[36px] object-cover object-center inset-0" 
  />

  <Image 
    alt="Mobile Background"
    loading="eager" 
    src={MobileBackground}
    class="absolute h-full w-full lg:hidden rounded-[36px] object-cover object-center inset-0" 
  />

  
  <div class="flex items-center justify-center flex-col h-full w-full">
    <h2 class="relative text-orange-200 text-lg md:text-3xl lg:text-5xl font-semibold self-center whitespace-nowrap">Hi there👋</h2>
    <h3 class="relative animate-tracking-in-expand text-red lg:text-13xl xl:text-[270px] font-humane font-black tracking-[2.7px] self-center max-md:max-w-full max-md:text-9xl">
      I AM DAMMY
    </h3>
    <p class="relative text-stone-50 text-center lg:text-3xl md:text-xl font-nohemi font-semibold self-center max-w-[746px] max-md:max-w-full max-md:px-7">
      A creative designer and frontend developer, also a Computer Science Undergrad based in Canada
    </p>
  </div>

  <div class="absolute bottom-10 w-full self-stretch flex flex-col items-stretch mt-20 max-sm:mt-3 pl-7 pr-11 max-md:mt-10 max-md:px-0">
    <div class="text-stone-50 text-opacity-40 text-center text-3xl font-bold max-md:max-w-full">&lt;/&gt;</div>
    
    <div class="flex w-full items-stretch justify-between gap-5 max-sm:gap-2 mt-20 px-0.5 max-sm:box-border max-sm:px-3 max-md:max-w-full max-md:mt-10">
      <a 
        href="mailto:dbabs297@gmail.com" 
        class="text-white font-nohemi text-center text-[10px] lg:text-xl justify-center items-stretch bg-red self-center my-auto px-9 py-3.5 rounded-[56px] max-md:py-0.5 max-md:px-2">
        dbabs297@gmail.com
      </a>
      
      <img 
        loading="lazy" 
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a3ab4064a73e3505d57e1d46a5b3f8d4bf7326a56d9ca61a359cbf2202ddb4f?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" 
        class="aspect-[2.39] object-contain object-center w-[153px] max-sm:w-[71px] overflow-hidden shrink-0 max-w-full" 
      />

      <Socials/>
      
    </div>
  </div>
</section>