<div class="bg-neutral-500 flex flex-col justify-center items-stretch mt-16 rounded-[36px] max-md:max-w-full max-md:mt-10">
    <header class="flex-col overflow-hidden relative flex min-h-[884px] w-full pt-5 pb-8 max-md:max-w-full">
      <img loading="lazy" src-set="https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/d11871cdee63282830bc4bd6b613607a7ef0300f6b4d74f46793b71d9d2d8d85?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"class="absolute h-full w-full object-cover object-center inset-0" />
      <h1 class="relative text-stone-50 text-opacity-40 text-center text-3xl font-bold self-center whitespace-nowrap">Photoshop</h1>
      <h2 class="relative text-orange-200 text-5xl font-semibold self-center whitespace-nowrap mt-48 max-md:text-4xl max-md:mt-10">Hi there👋</h2>
      <h3 class="relative text-red-600 text-[270px] font-black tracking-[2.7px] self-center mt-7 max-md:max-w-full max-md:text-4xl">I AM DAMMY</h3>
      <p class="relative text-stone-50 text-center text-3xl font-semibold self-center max-w-[746px] mt-7 max-md:max-w-full">A creative designer and frontend developer, also a Computer Science Undergrad based in Canada</p>
      <form class="relative self-stretch flex flex-col items-stretch mt-20 pl-7 pr-11 max-md:max-w-full max-md:mt-10 max-md:px-5">
        <div class="text-stone-50 text-opacity-40 text-center text-3xl font-bold max-md:max-w-full">&lt;/&gt;</div>
        <div class="flex w-full items-stretch justify-between gap-5 mt-20 px-0.5 max-md:max-w-full max-md:flex-wrap max-md:mt-10">
          <a href="mailto:dbabs297@gmail.com" class="text-white text-center text-xl underline whitespace-nowrap justify-center items-stretch bg-red-600 self-center my-auto px-9 py-3.5 rounded-[56px] max-md:px-5">dbabs297@gmail.com</a>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a3ab4064a73e3505d57e1d46a5b3f8d4bf7326a56d9ca61a359cbf2202ddb4f?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" class="aspect-[2.39] object-contain object-center w-[153px] overflow-hidden shrink-0 max-w-full" />
          <div class="items-stretch self-center flex gap-4 my-auto">
            <button class="items-center bg-red-600 flex aspect-[0.9791666666666666] flex-col justify-center w-12 h-12 px-3 rounded-[34px]">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/143cc96bae1a4ed8e52c6b198e75c8d07ce3a03ea62ed65e34575be4d282cd42?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" class="aspect-[0.96] object-contain object-center w-full fill-stone-50 overflow-hidden" />
            </button>
            <button class="items-center bg-red-600 flex aspect-square flex-col justify-center w-12 h-12 px-3.5 rounded-[34px]">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ea04b59815f09d4107fcdd9a7fe73acd3203aad3fd9fcc11813c8c0314bed91d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" class="aspect-square object-contain object-center w-full overflow-hidden" />
            </button>
            <button class="items-center bg-red-600 flex aspect-square flex-col justify-center w-12 h-12 px-3 rounded-[34px]">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3773370bc6641522f3730adaa66f1e59bfcc2f63a7896624671f0a340cbc4d0d?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" class="aspect-square object-contain object-center w-full fill-stone-50 overflow-hidden" />
            </button>
            <button class="items-center bg-red-600 flex aspect-square flex-col justify-center w-12 h-12 px-3.5 rounded-[34px]">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8eb5917f34defd12850a2563f4707f9f2d187ebff80322bf17b928fca4862888?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" class="aspect-square object-contain object-center w-full fill-stone-50 overflow-hidden" />
            </button>
          </div>
        </div>
      </form>
    </header>
  </div>