---
  //"<h1 class="relative text-stone-50 text-opacity-40 text-center text-3xl font-bold self-center whitespace-nowrap">Photoshop</h1>"
  import Socials from "../components/Socials.astro";
---


<section class="bg-neutral-500 relative h-[90svh] flex flex-col justify-center items-stretch mt-16 rounded-[36px] max-md:max-w-full max-md:mt-10">
  <!-- Put Background Image Here -->
  <img 
    loading="lazy" 
    src="/desktop-background.svg"
    class="absolute h-full w-full max-md:hidden rounded-[36px] object-cover object-center inset-0" 
  />

  <img 
    loading="lazy" 
    src="/mobile-background.svg"
    class="absolute h-full w-full lg:hidden rounded-[36px] object-cover object-center inset-0" 
  />

  
  <div class="flex items-center justify-center flex-col h-full w-full">
    <h2 class="relative text-orange-200 text-5xl font-semibold self-center whitespace-nowrap max-md:text-4xl">Hi there👋</h2>
    <h3 class="relative text-red lg:text-9xl xl:text-[270px] font-humane font-black tracking-[2.7px] self-center max-md:max-w-full max-md:text-4xl">
      I AM DAMMY
    </h3>
    <p class="relative text-stone-50 text-center text-3xl font-semibold self-center max-w-[746px] max-md:max-w-full">
      A creative designer and frontend developer, also a Computer Science Undergrad based in Canada
    </p>
  </div>

  <div class="absolute bottom-10 w-full self-stretch flex flex-col items-stretch mt-20 pl-7 pr-11 max-md:mt-10 max-md:px-5">
    <div class="text-stone-50 text-opacity-40 text-center text-3xl font-bold max-md:max-w-full">&lt;/&gt;</div>
    
    <div class="flex w-full items-stretch justify-between gap-5 mt-20 px-0.5 max-md:max-w-full max-md:flex-wrap max-md:mt-10">
      <a 
        href="mailto:dbabs297@gmail.com" 
        class="text-white font-nohemi text-center text-xl justify-center items-stretch bg-red self-center my-auto px-9 py-3.5 rounded-[56px] max-md:px-5">
        dbabs297@gmail.com
      </a>
      
      <img 
        loading="lazy" 
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a3ab4064a73e3505d57e1d46a5b3f8d4bf7326a56d9ca61a359cbf2202ddb4f?apiKey=730671e7852c4d91bc984b7d2d07d7fb&" 
        class="aspect-[2.39] object-contain object-center w-[153px] overflow-hidden shrink-0 max-w-full" 
      />

      <Socials/>
      
    </div>
  </div>
</section>