---
import Socials from '../components/Socials.astro';

---

<section class="grid grid-cols-1 lg:grid-cols-2 font-nohemi bg-background-tint">
    <div>
        

        <Socials/>
    </div>
    <div>

    </div>
</section>