---
import ProjectCard from "./ProjectCard.astro";
---

<div class="relative mt-6 items-center max-md:bg-white flex-nowrap overflow-hidden bg-gray-900 flex max-md:flex-col gap-4 px-8 py-5 rounded-[36px] max-md:max-w-full max-md:px-0 max-md:pb-0">
  <div class="w-full flex gap-6 flex-row max-md:pl-8">
    <ProjectCard/>
    <ProjectCard/>
    <ProjectCard/>
    <ProjectCard/>
  </div>




  <div class="lg:absolute max-md:w-full max-md:py-4 max-md:px-5 max-md:items-center pl-8 py-8 right-0 z-20 h-full max-md:rounded-b-[36px] lg:rounded-r-[36px] justify-between items-start bg-purple flex lg:w-[200px] lg:max-w-[256px] lg:flex-col">
    <h2 class="text-stone-50 lg:w-3/4 text-3xl lg:text-5xl font-semibold">
      See More
    </h2>
    <button class="items-center bg-red flex flex-col justify-center aspect-square p-2 lg:p-3 lg:w-2/3 max-md:h-1/3 rounded-[50%]">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6ab6818ba5718a6762397a9595dfc9865f36e83876593d3b1044fe009097f7c1?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
        class="aspect-square object-contain object-center max-md:w-10 w-24 overflow-hidden"
        alt=""
      />
    </button>
  </div>
</div>