

<div class="bg-[#E0C8FF] rounded-2xl p-4 box-border w-[297px] h-[303px]">
  <div class="flex flex-col items-center justify-between h-full w-full">
    <div class="w-full h-[80%]">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/af1607ef3d13aa1537561dfcbbf157c75238c4f16c64edb03ad7aa70d82f64c0?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
        class="h-full w-full"
        alt="Rental Listing"
      />
    </div>


    <div class="w-full h-[20%]">
  
      <h3 class="text-3xl font-semibold text-black">
        Rentmonie
      </h3>
    
      <div class="w-full mt-1">
        <span
          class="px-3 py-1 mr-4 font-semibold rounded-lg text-white bg-red"
          aria-label="UI/UX Design"
          role="button"
        >
          UI/UX Design
        </span>
        <span
          class="px-3 py-1 font-semibold rounded-lg text-white bg-purple"
          aria-label="In-Dev"
          role="button"
        >
          In-Dev
        </span>
      </div>
    </div>
    
  </div>


</div>