---
  import { Icon } from "astro-icon/components";

  interface Props {
    color?: 'red'|'purple'
  }

  const { color } = Astro.props;
---

<div class="items-stretch flex gap-4">
    <a 
      href="https://twitter.com/kng_lax"
      class={`items-center bg-${color ?? 'red'} text-white flex aspect-[0.9791666666666666] flex-col justify-center max-sm:w-7 max-sm:h-7 w-12 h-12 px-3 rounded-[34px]`}>
      <Icon name="simple-icons:x"/>
    </a>
    <a 
      href="https://dribbble.com/DanielBabs"
      class={`items-center bg-${color ?? 'red'} text-white flex aspect-[0.9791666666666666] flex-col justify-center max-sm:w-7 max-sm:h-7 w-12 h-12 px-3 rounded-[34px]`}
    >
      <Icon name="simple-icons:dribbble"/>
    </a>
    <a 
      href="https://github.com/Dannny-Babs"
      class={`items-center bg-${color ?? 'red'} text-white flex aspect-[0.9791666666666666] flex-col justify-center max-sm:w-7 max-sm:h-7 w-12 h-12 px-3 rounded-[34px]`}
    >
      <Icon name="simple-icons:github"/>
    </a>
    <a 
      href="https://www.instagram.com/dammythedesigner/"
      class={`items-center bg-${color ?? 'red'} text-white flex aspect-[0.9791666666666666] flex-col justify-center max-sm:w-7 max-sm:h-7 w-12 h-12 px-3 rounded-[34px]`}
    >
      <Icon name="simple-icons:instagram"/>
    </a>
  </div>
