---
  import { Icon } from "astro-icon/components";

---

<div class="items-stretch self-center flex gap-4 my-auto">
    <a class="items-center bg-red text-white flex aspect-[0.9791666666666666] flex-col justify-center w-12 h-12 px-3 rounded-[34px]">
      <Icon name="simple-icons:x"/>
    </a>
    <a class="items-center bg-red text-white flex aspect-[0.9791666666666666] flex-col justify-center w-12 h-12 px-3 rounded-[34px]">
      <Icon name="simple-icons:dribbble"/>
    </a>
    <a class="items-center bg-red text-white flex aspect-[0.9791666666666666] flex-col justify-center w-12 h-12 px-3 rounded-[34px]">
      <Icon name="simple-icons:github"/>
    </a>
    <a class="items-center bg-red text-white flex aspect-[0.9791666666666666] flex-col justify-center w-12 h-12 px-3 rounded-[34px]">
      <Icon name="simple-icons:instagram"/>
    </a>
  </div>
