---
import ReadCaseStudy from '../components/ReadCaseStudy.astro';

import { Image } from 'astro:assets';
import TaloImageLink from "@/assets/talo-link-image.svg";
---

<section class="grid grid-cols-1 gap-3 font-nohemi lg:grid-cols-[_60%_40%]">
   
    <Image
        src={TaloImageLink}
        alt="Talo image Link"
        class="w-full h-full object-contain"
    />
        

    <div
        class="justify-between bg-stone-50 flex flex-col w-full px-8 py-9 rounded-[40px] max-md:max-w-full max-md:mt-7 max-md:px-5"
        aria-label="Job Discovery Component"
        role="main"
    >
        <header class="text-indigo-950 text-2xl lg:text-4xl font-medium max-md:max-w-full">
            <span class="font-semibold text-indigo-950">Talo</span>{" "}
            <span class="text-indigo-950">
            {" "}
            - A Seamless Job Discovery Journey{" "}
            </span>
        </header>

        <div class="text-indigo-400 font-normal text-[15px] lg:text-2xl md:text-xl mt-3 max-md:max-w-full">
            With Talo, you may start a journey that will change your life.
            Employers can easily access a wide talent pool and expedite their hiring
            process, while job seekers can find targeted employment options and
            connect with motivated people. Discover a platform that makes hiring and
            job searching easier, enabling success on both sides of the employment
            market.
        </div>

        <ReadCaseStudy href='/works/talo'/>
    </div>
</section>
