

<section class="grid grid-cols-1 lg:grid-cols-[_60%_40%]">
    <div class="bg-background-tint grid grid-cols-3 gap-3 w-full p-4 rounded-[40px]">
        <!-- First column -->
        <div class="grid grid-rows-[_4fr_1fr] gap-3 h-full">
            <div class="bg-[#2C6BE6] rounded-3xl"/>

            <div class="justify-end items-stretch bg-yellow-100 flex flex-col pl-6 pr-1.5 py-4 lg:py-7 rounded-3xl max-md:pl-5">
                <h1 class="text-slate-950 text-4xl font-extrabold">
                    10x
                </h1>
                <p class="text-slate-950 text-base mt-3.5">
                    Land your dream job 10x faster, Fuel your career growth
                </p>
            </div>
        </div>

        <!-- Second column -->
        <div class="grid grid-rows-[_2fr_3fr] gap-3 h-full">
            <div class="bg-green-300 flex grow flex-col w-full p-5 rounded-3xl">
                <span class="text-white text-5xl font-medium max-md:text-4xl">
                    💼
                </span>
                <h1 class="text-black text-5xl font-semibold mt-3 max-md:text-4xl">
                    Talo
                </h1>
                <p class="text-green-700 text-lg mt-3">
                    Your personal job search companion.
                </p>
            </div>

            <div class="bg-lime-400 flex grow flex-col w-full px-4 py-4 rounded-3xl">
                <span class="text-white text-4xl font-medium">
                    🪄
                </span>
                <h3 class="text-black text-4xl font-black mt-3.5">
                    Talent Pool
                </h3>
                <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/136133892254cf9604db3fe1245f51c16fe19eedda519899ff74631b373de6ed?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"class="aspect-[1.58] object-contain object-center w-full overflow-hidden mt-8"
                    alt="Job Image"
                />
            </div>
        </div>

        <!--Third column -->
        <div class="grid grid-rows-[_2fr_1fr_2fr] gap-3 h-full">
            <div class="justify-center items-center bg-green-400 flex flex-col px-4 py-5 rounded-3xl max-md:px-5"/>

            <div class="justify-center items-center bg-green-400 flex flex-col px-4 py-5 rounded-3xl max-md:px-5">
                <img
                    loading="lazy"
                    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2dce8f6628db949be1ab17b35ff9e8c5864a6f6d37bfd375add0989921bb46e3?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"class="aspect-[2.29] object-contain object-center w-[110px] overflow-hidden max-w-full"
                    alt="Job Image"
                />
            </div>

            <img
                loading="lazy"
                srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/38f76f47ce62465802618218b623c5873b46313705e87d4edb4df1a6d4354ef9?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"class="aspect-[1.61] object-contain object-center w-full overflow-hidden mt-3.5"
                alt="Job Image"
                class="h-full"
            />
        </div>
    </div>   
        

    <div
        class="justify-between items-stretch bg-stone-50 flex flex-col w-full px-8 py-9 rounded-[40px] max-md:max-w-full max-md:mt-7 max-md:px-5"
        aria-label="Job Discovery Component"
        role="main"
    >
        <header class="text-indigo-950 text-4xl font-medium max-md:max-w-full">
            <span class="font-semibold text-indigo-950">Talo</span>{" "}
            <span class="text-indigo-950">
            {" "}
            - A Seamless Job Discovery Journey{" "}
            </span>
        </header>

        <div class="text-indigo-400 text-2xl font-light mt-3 max-md:max-w-full">
            With Talo, you may start a journey that will change your life.
            Employers can easily access a wide talent pool and expedite their hiring
            process, while job seekers can find targeted employment options and
            connect with motivated people. Discover a platform that makes hiring and
            job searching easier, enabling success on both sides of the employment
            market.
        </div>

        <div>
            <div class="justify-between items-center bg-purple flex gap-5 mt-3.5 px-11 py-5 rounded-[36px] max-md:max-w-full max-md:flex-wrap max-md:px-5">
            <a href="#" class="text-stone-50 text-3xl font-medium grow">
                Read Case Study
            </a>
            <button
                class="items-center bg-red-600 self-stretch flex aspect-[1.0208333333333333] flex-col justify-center w-[49px] h-[49px] px-3.5 rounded-[132px]"
                aria-label="Case Study Button"
                role="button"
            >
                <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/1488d1e26a98ab4b5d3cae1cd0af1c0584a38b7d59f8149ed729af057e22eefa?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
                class="aspect-square object-contain object-center w-full overflow-hidden"
                aria-label="Case Study Image"
                role="img"
                />
            </button>
            </div>
        </div>
    </div>
</section>
