<div class="bg-gray-900 border border-red font-nohemi flex grow flex-col w-full px-10 py-7 lg:py-12 rounded-[25px] md:rounded-[50px] lg:rounded-[75px] items-start max-md:max-w-full max-md:px-5">
    <h2 class="text-stone-50 font-semibold whitespace-nowrap ml-2.5 self-start text-2xl md:text-4xl lg:text-6xl">
        Want to see more?
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 lg:gap-4 mt-5 lg:mt-7 lg:max-h-screen">
        <div class="grid grid-cols-2 gap-2 lg:gap-4 h-full">
            <div class="w-full h-full grid grid-rows-[_35%_65%] gap-2 lg:gap-4">
                <img
                    src="/Card 01.svg"
                    class="w-full h-full"
                />
                <img
                    src="/Card 02.svg"
                    class="w-full h-full"
                />
            </div>
            <img
                src="/Card 03.svg"
                class="w-full h-full"
            />
        </div>

        <div class="flex flex-col gap-2 lg:gap-4">
            <div class="flex gap-2 lg:gap-4">
                <img
                    src="/Card 04.svg"
                    class="w-1/2 h-full object-fill"
                />
                <img
                    src="/Card 05.svg"
                    class="w-1/2 h-full"
                />
            </div>

            <div class="flex gap-2 lg:gap-4">
                <img
                    src="/Card 7.svg"
                    class="w-1/2 h-full"
                />
                <img
                    src="/Card 6.svg"
                    class="w-1/2 h-full"
                />
            </div>
        </div>

    </div>
    

</div>