<section class="bg-purple flex-grow flex flex-col w-full pl-3 lg:pl-5 py-4 lg:py-6 rounded-[75px] max-md:max-w-full max-md:mt-7 max-md:pl-5">
  <h2 class="text-stone-50 text-6xl font-semibold whitespace-nowrap ml-2.5 self-start max-md:text-4xl">
    What I Do
  </h2>
  
  <div class="self-stretch flex items-stretch justify-between gap-3.5 mt-14 max-md:max-w-full max-md:flex-wrap max-md:mt-10">
    <div class="items-center bg-white flex justify-between gap-3 px-3.5 py-3 rounded-2xl">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0935d6d39647313209905a718f8ce0cda1a7d2d6042ddd5eb086ea130335533?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
        class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full my-auto"
        alt="Web Design"
      />
      <div class="text-gray-900 text-3xl self-stretch grow whitespace-nowrap">Web Design</div>
    </div>
    <div class="items-center bg-white flex justify-between gap-3 pl-3 py-3 rounded-2xl">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0935d6d39647313209905a718f8ce0cda1a7d2d6042ddd5eb086ea130335533?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
        class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full my-auto"
        alt="Motion Graphics"
      />
      <div class="text-gray-900 text-3xl self-stretch w-[266px]">Motion Graphics</div>
    </div>
  </div>
    <div class="self-stretch flex items-stretch justify-between gap-3.5 mt-5 max-md:max-w-full max-md:flex-wrap">
      <div class="items-center bg-white flex justify-between gap-3 px-3.5 py-3 rounded-2xl">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0935d6d39647313209905a718f8ce0cda1a7d2d6042ddd5eb086ea130335533?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
          class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full my-auto"
          alt="UI/UX Design"
        />
        <div class="text-gray-900 text-3xl self-stretch grow whitespace-nowrap">Ui/UX Design</div>
      </div>
      <div class="items-center bg-white flex justify-between gap-3 pl-3 py-3 rounded-2xl">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0935d6d39647313209905a718f8ce0cda1a7d2d6042ddd5eb086ea130335533?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
          class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full my-auto"
          alt="App Development"
        />
        <div class="text-gray-900 text-3xl self-stretch w-72">App Development</div>
      </div>
    </div>
    <div class="self-stretch flex items-stretch justify-between gap-3.5 mt-5 mb-2.5 max-md:max-w-full max-md:flex-wrap">
      <div class="items-center bg-white flex justify-between gap-3 px-3.5 py-3 rounded-2xl">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0935d6d39647313209905a718f8ce0cda1a7d2d6042ddd5eb086ea130335533?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
          class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full my-auto"
          alt="Graphics Design"
        />
        <div class="text-gray-900 text-3xl self-stretch grow whitespace-nowrap">Graphics Design</div>
      </div>
      <div class="items-center bg-white flex justify-between gap-3 pl-3.5 pr-2 py-3 rounded-2xl">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0935d6d39647313209905a718f8ce0cda1a7d2d6042ddd5eb086ea130335533?apiKey=730671e7852c4d91bc984b7d2d07d7fb&"
          class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full my-auto"
          alt="Branding"
        />
        <div class="text-gray-900 text-3xl self-stretch grow whitespace-nowrap">Branding</div>
      </div>
    </div>
</section>