---
import Belleful from "./Belleful.astro";
import SectionHeader from "./SectionHeader.astro";
import Talo from "./Talo.astro";


---

<section>
    <SectionHeader title="Works."/>
    <Talo/>
    <Belleful/>
</section>