---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="px-3 w-full box-border lg:px-5">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--background: #060F18;
		--background-tint: #151E27;
		--red: #FF0000;
		--red-tint: #FF1E1E;
		--purple: #8D33FF;
		--green: #33FF85;

		--tukay-blue: #186568;
		--tukay-yellow: #D6FB00;

		--clot-purple: #EFC0FF;

		--rent-monie: #C0D5FF;

		--poster-blue: #897BBE;
		--poster-pink: #FFBCA9;
		--poster-brown: #FFE6C0;

		--talo-blue: #04152B;
		--talo-green: #84EE82;
		--talo-white: #FFFFFF;

		--belleful-yellow: #FECD4C;
		--belleful-white: #F2EEE7;

		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--gradient: linear-gradient(100.67deg, #5645FE 0%, #7940EF 100%);

	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-Light.woff') format('woff');
		font-weight: 300;
	}

	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-Regular.woff') format('woff');
		font-weight: 400;
	}

	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-Medium.woff') format('woff');
		font-weight: 500;
	}

	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-SemiBold.woff') format('woff');
		font-weight: 600;
	}

	@font-face {
		font-family: 'Humane';
		src: url('/fonts/Humane-Bold.woff') format('woff');
		font-weight: 900;
	}

	.container {
		@apply py-6 px-5 md:py-9 md:px-7 lg:py-12 lg:px-10 relative rounded-[25px] md:rounded-[40px] lg:rounded-[60px];
	}

	.two-one-grid {
		@apply grid grid-cols-1 lg:grid-cols-[_2fr_1fr];
	}

	.one-two-grid {
		@apply grid grid-cols-1 lg:grid-cols-[_1fr_2fr];
	}

	.equal {
		@apply grid grid-cols-1 lg:grid-cols-2;
	}

</style>
